.hero{
    /* background: linear-gradient( rgba(235, 58, 58, 0.5), rgba(0, 0, 0, 0.5) ), url("images/gradient.jpg"); */
    background-color: rgb(74, 74, 231);
    background-position: fixed;
    background-size: 100% 100%;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bioimg{
    min-width: 200px;
    max-width: 200px;
    border-radius: 50%;
    margin-right: 60px;
}

.centerimage{
    width: 500px;
    border-radius: 5px;
}

.centered{
    text-align: center;
}

.socials a{
    font-size: larger;
    margin-right: 10px;
}

.lowmargin{
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .bioimg{
        min-width: 100px;
        max-width: 100px;
        margin-right: 0px;
    }
    .centerimage{
        width: 100%;
    }
}